Django>=5.0,<6.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
python-telegram-bot==22.6
pillow
requests
python-dateutil
gunicorn==22.0.0
whitenoise==6.6.0
qrcode
